{% extends "template.html.twig" %}

{% block title %}{{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}

            {% include 'adminPages/navbarAdmin.html.twig' %}

        {% endblock %}

        {% block displayContent %}
            <h3>Page d'administration</h3>
        {% endblock %}
    </div>

{% endblock %}