{% extends "template.html.twig" %}

{% block title %}Espace d'administration - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}

            {% include 'adminPages/navbarAdmin.html.twig' %}

        {% endblock %}

        {% block displayContent %}
            <div class="col-9" >

                {% block profileBanner %}
                    <div class="col-lg-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Page d'administration</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 personalPageText">
                    <p>Vous trouverez ici toutes les fonctionnalités nécessaires afin d'ajouter un livre ou bien de vous connecter aux bibliothèques de vos ami(e)s.<br/>
                        Cette page regroupe les informations sur les différents liens que vous pouvez voir sur votre gauche.</p>
                    <p>
                        Nous allons passer en revue les différents éléments :
                    </p>
                    <ul>
                        <li>
                            <p>'Accueil espace personnel' : C'est la page sur laquelle vous vous trouvez en ce moment.</p>
                        </li>
                        <li>
                            <p>'Enregistrer un livre' : Sur cette page vous pourrez enregistrer un nouvel ouvrage dans votre bibliothèque.</p>
                        </li>
                        <li>
                            <p>'Liste de livres' : Il s'agit de votre bibliothèque. Vous pouvez consulter la liste de tous les livres que vous avez enregistré.<br/>
                            Afin de gagner en place, l'intégralité du résumé n'est pas présent. Afin de pouvoir le consulter, vous pouvez y accéder en cliquant sur le titre du livre souhaité.
                            </p>
                        </li>
                        <li>
                            <p>'Rechercher un livre' : Vous permet de rechercher un livre dans votre bibliothèque.<br/>
                            En rentrant l'ISBN de l'ouvrage, vous pourrez savoir si vous l'avez déjà enregistré ou non.
                            </p>
                        </li>
                        <li>
                            <p>'Cercle d'amis' : Cette page va vous permettre d'ajouter un(e) ami(e). Si la personne accepte, vous pourrez alors accéder à sa bibliothèque.<br/>
                            Vous aurez alors la possibilité de rechercher si votre ami(e) a déjà un livre enregistré ou non.<br/>
                                Un récapitulatif des personnes avec qui vous partagez votre bibliothèque est également présent.
                            </p>
                        </li>
                        <li>
                            <p>'Rechercher un livre parmi ses ami(e)s' : C'est ici que vous pourrez vérifier si votre ami(e) a déjà un livre, toujours grâce à l'ISBN.</p>
                        </li>
                        <li>
                            <p>'Compte' : Sur cette page, vous pourrez accéder à tout ce qui relève de la gestion de compte (modification pseudo, login, etc.).</p>
                        </li>
                        <li>
                            <p>'Statistiques du site' : Cette page est réservée à l'administration. Elle regroupe des informations liées à la fréquentation du site.</p>
                        </li>
                    </ul>
                </div>





            </div>
        {% endblock %}
    </div>
{% endblock %}

