{% extends "template.html.twig" %}

{% block title %}Statistiques du site{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}

            {% include 'adminPages/navbarAdmin.html.twig' %}

        {% endblock %}

        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Statistiques</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="statistics">
                    {% block nbMembers %}
                        <p>Il y a {{ nbMembers }} membres présentemment inscrits sur le site.</p>
                    {% endblock %}

                    {% block nbBooks %}
                        <p>Il y a {{ nbBooks }} livres enregistrés sur le site en ce moment.</p>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}