/* ===== PERSONALIZED FONTS ===== */
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.eot');
    src: url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.woff') format('woff'),
    url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/kaushanScript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antic_sansregular';
    src: url('../assets/fonts/antic/anticsans-regular-webfont.eot');
    src: url('../assets/fonts/antic/anticsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/antic/anticsans-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/antic/anticsans-regular-webfont.woff') format('woff'),
    url('../assets/fonts/antic/anticsans-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/antic/anticsans-regular-webfont.svg#antic_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    width: 100%;
    font-family: 'antic_sansregular', sans-serif;
    /*font-weight: bold;*/
}

/*a{
    color: #B57642;
}

ul{
    list-style: none;
}*/

/*button.btn.btn-primary{
    background-color: #B56042;
    border-color: #B56042;
}

button.btn.btn-primary:hover{
    background-color: #0056b3;
    border-color: #0056b3;
}*/

header{
    box-shadow: 0 0 20px grey;
    /*margin-bottom: 2%;*/
}

/* ----- HEADER NAV BAR ----- */
li.nav-item button{
    margin: 0 5px;
}

footer{
    bottom: 0;
    box-shadow: 0 0 10px grey;
    height: 60px;
    padding-top: 7px;
    text-align: center;
    width: 100%;
}

/*footer div{
    height: 100%;
    padding-top: 15px;
}*/


h1, h2, h3{
    font-family : 'kaushan_scriptregular', sans-serif;
    font-size: 4em;
}

textarea{
    width: 600px;
    height: 200px;
}

.row{
    text-align: center;
}

.registrationText{
    font-size: 0.85em;
}

.submitButton{
    border-radius: 5px;
    margin-top: 10px;
}

/* ===== REGISTRATION FORM ===== */
.registrationLabel{
    border-bottom: 1px solid #D3D3D3;
}

/* ===== HOME PAGE ===== */
#home{
    text-align: center;
    height: 100%;
    position: relative;
    /*width: 100%;*/
}

#home:after{
    background-color: rgba(195, 201, 201, 0.25);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

#homeText{
    background-color : rgba(255, 255, 255, 0.6);
    color: #303030;
    font-weight: bold;
    position: absolute;
    text-shadow: 4px 5px 6px #CCCCCC;
    top: 30%;
    width: 100%;
    z-index: 2;
}

/* ===== CONTACT PAGE ===== */
#contactUs{
    text-align: center;
    height: 100%;
    position: relative;
    /*width: 100%;*/
}

#contactUs:after{
    background-color: rgba(130, 65, 27, 0.35);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

#contactUsText{
    font-weight: bold;
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 2;
}


/* ===== ADMIN PAGE =====*/
#navbarProfileOutside{
    padding: 4px;
    border-right: 3px inset #B57642;
}

button.navbar-toggler{
    background-color: rgba(181, 118, 66, 0.5);
}

#navbarAdminInside{
    /*background-image : url("../assets/images/ryan-loughlin-253609-unsplash.jpg");
    width: 100%;
    overflow: hidden;
    padding: 3px;
    background-color: #e0e0e0;*/
}

.generalProfileBanner{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#profileBanner{
    border-radius: 7px;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

#profileBanner img{
    /*height: auto;*/
    width: 100%;

}

.profileBannerText{
    position: absolute;
    /*width: 100%;
    z-index: 5;*/
    top: 18%;
    color: white;
    text-shadow: 1px 1px 10px #385C91;
}


/* ===== MEMBER PAGE =====*/
/*#navbarProfileOutside{
    padding: 4px;
    border-right: 3px inset #944E13;
}*/

#navbarMemberInside{
    /*padding: 3px;
    background-color: #e0e0e0;*/
}


/* ===== COMMON PAGES ===== */
.personalPage{
    margin-top: 2%;
    margin-bottom: 5%;
}

.personalPageText{
    margin-top: 5%;
    text-align: justify;
}

/* ===== REGISTER BOOK DATAS ===== */
#registerBookExplanations{
    margin: 3% 0;
    text-align: justify;
}

.ISBNSpace{
    margin-top: 5%;
}

#bookInformations{
    display : none;
    margin-top: 5%;
}

.formElement{
    margin: 15px 0;
}

/* ===== BOOKLIST =====*/
#booksTotal{
    margin: 3% 0;
}

.book{
    border-bottom: 1px solid #D3D3D3;
}

/* ===== BOOK DISPLAY ===== */
.bookViewDisplay{
    margin: 5% 0;
}

.bookViewDiv{
    margin: 10px 0;
}

.bookView{
    font-size: 1.1em;
}

/* ===== EDIT BOOK DATAS ===== */
#editBook{
    margin: 3% 0;
}

#editISBN{
    background-color: #D3D3D3;
}

/* ===== ACCOUNT PAGE ===== */
#accountCredentials{
    margin: 3% 0;
}

#friendShareBooklistWith{
    margin: 3% 0;
}

/* ===== EDIT CREDENTIALS ===== */
#modifyCredentialsText{
    margin: 3% 0;
}

.modifyCredentials{
    border-top: 1px solid #D3D3D3;
    margin: 3% 0;
}

/* ===== FRIENDS CIRCLE ===== */
.friendsCircle{
    margin: 3% 0;
    text-align: justify;
}

.addFriend{
    text-align: center;
}

#searchFriendBook{
    margin: 3% 0;
}

/* ===== SEARCH BOOK ===== */
#searchBook{
    margin: 3% 0;
}

/* ===== STATISTICS ===== */
#statistics{
    margin: 3% 0;
}

/* ===== DELETE ACCOUNT =====*/
#deleteAccount{
    margin: 3% 0;
}

#warningDeletion{
    font-weight: bold;
}

/* ===== LEGAL MENTIONS ===== */
#legalMentions{
    margin: 3% 0;
    text-align: justify;
}

#legalMentions h1{
    text-align: center;
}

.legalMentionsDetails{
    margin: 2% 0;
}


/* ===== MEDIA QUERIES ===== */
@media(max-width: 450px){
    #profileBanner{
        height: auto;
        display: none;
        position: static;
    }

    .profileBannerText{
        position: static;
        top: 0;
        word-wrap: break-word;
    }

    footer p{
        display: none;
    }
}

@media(max-width: 600px){
    #home{
        /*display: none;*/
        position: static;
    }

    #home img{
        display: none;
    }

    #homeText{
        position: static;
    }

    #profileBanner{
        height: 200px;
    }

    #searchBookText{
        top: 5%;
    }

}

@media(max-width: 680px){
    #homeText{
        background-color: rgba(181, 118, 66, 0.5);
        top: 20%;
    }

    #searchBookText{
        top: 2%;
    }

}

@media(max-width: 800px){
    #adminText{
        top: 0;
    }
}

@media(max-width: 992px){
    header button.btn.btn-primary{
        margin-top: 1%;
    }
}