{% extends "template.html.twig" %}

{% block title %}Suppression de compte - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% include 'memberPages/navbarMember.html.twig' %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-9">

                {% block profileBanner %}
                    <div class="col-lg-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Suppression de compte</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12">
                    {% block deletionAccount %}
                        <p>Veuillez entrer vos identifiants afin de confirmer la suppression de votre compte.<br/>
                            Une fois votre compte supprimé, vous serez redirigé(e) vers la page d'accueil.<br/>
                            Attention, la suppression du compte est irréversible.
                        </p>

                        <form action="../public/index.php?action=deleteAccount&id={{ session.id }}" method="post" onsubmit="if(confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte ?')) return true; else return false">
                            <div>
                                <label for="loginDelete">Pseudo</label>
                                <input type="text" id="loginDelete" name="loginDelete" value="{{ session.login }}" readonly/>
                            </div>
                            <div>
                                <label for="passwordDelete">Mot de passe</label>
                                <input type="password" id="passwordDelete" name="passwordDelete" required/>
                            </div>
                            <div>
                                <input type="submit" value="Supprimer mon compte" class="submitButton"/>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}