{% extends "template.html.twig" %}

{% block title %}{{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% include 'memberPages/navbarMember.html.twig' %}
        {% endblock %}

        {% block displayContent %}
            <p>Page de membre/</p>
        {% endblock %}
    </div>

{% endblock %}