{% extends "template.html.twig" %}

{% block title %}Espace personnel - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% include 'memberPages/navbarMember.html.twig' %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-9">
                <p>Page de membre</p>
            </div>
        {% endblock %}
    </div>

{% endblock %}