{% extends "template.html.twig" %}

{% block title %}Espace personnel - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% include 'memberPages/navbarMember.html.twig' %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-9">
                {% block profileBanner %}
                    <div class="col-lg-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Page de profil</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12">
                    <p>Texte à insérer</p>
                </div>
            </div>
        {% endblock %}
    </div>

{% endblock %}