{% extends "template.html.twig" %}

{% block title %}Attente de confirmation d'inscription{% endblock %}

{% block content %}
    <p>{{ login }}, un mail a été envoyé à l'adresse que vous avez indiqué.<br/>
    Veuillez suivre les indications présentes dans le-dit mail.<br />
        Merci !
        Vous allez être redirigé(e) vers la page d'accueil dans quelques secondes. Si ce n'est pas le cas, veuillez cliquer sur ce <a href="../public/index.php">lien</a>.
    </p>
{% endblock %}