{% extends "template.html.twig" %}

{% block title %}Attente de confirmation d'inscription{% endblock %}
{% block redirect %}<meta http-equiv="refresh" content="7;URL='/HaB/public/index.php'"/>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>{{ login }}, un mail a été envoyé à l'adresse que vous avez indiqué.<br/>
                Veuillez suivre les indications présentes dans le-dit mail.<br />
                Merci !
            </p>
            <p>
                Vous allez être redirigé(e) vers la page d'accueil dans quelques secondes. Si ce n'est pas le cas, veuillez cliquer sur ce <a href="../public/index.php">lien</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}