{% extends "template.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Erreur !</h3>
            <p>
                Vous venez d'être redirigé(e) sur cette page car une erreur s'est produite.<br />
                Veuillez consulter le message en dessous afin d'en connaître le détail.
            </p>

            <p>
                Erreur : {{ errorMessage }}
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}