{% extends "template.html.twig" %}

{% block title %}Have a Book ?{% endblock %}

{% block content %}
    <div class="row" id="home">

            <img class="img-responsive" src="../public/assets/images/james-bold-343821-unsplash.jpg" alt="Book open on a bed" />

            <div id="homeText">
                <h1>Have A Book ?</h1>
                <p>
                    Constituez votre bibliothèque (ouvrages papier et numériques), grâce à leur ISBN !
                </p>
                <p>
                    Sur ce site, vous pouvez enregistrer vos ouvrages, afin de suivre quels livres vous avez déjà.<br />
                    Grâce à cette application, vous pouvez également partager votre liste avec vos proches et vos amis.<br/>
                    Ils pourront dès lors vérifier si vous avez déjà un ouvrage en particulier.
                </p>
                <p>
                    Connectez-vous et commencez votre bibliothèque ! Partagez-la avec vos ami(e)s !
                </p>

            </div>

    </div>
{% endblock %}

{% block footer %}
    <div id="footerHome">
        Photo by James Bold on Unsplash
    </div>
{% endblock %}