{% extends "template.html.twig" %}

{% block title %}<i class="fas fa-book-open"></i>Have a Book ?{% endblock %}

{% block content %}
    <h1>Have A Book ?</h1>

    <p>Sur ce site, vous pouvez enregistrer vos ouvrages, afin de suivre quels livres vous avez déjà.<br />
    Grâce à cette application, vous pouvez partager votre liste avec vos proches et vos amis afin qu'ils/elles puissent vérifier si vous les avez déjà.
    </p>
{% endblock %}
