{% extends "template.html.twig" %}

{% block title %}Test{% endblock %}

{% block content %}

    <!--<form action="../public/index.php?action=recoverGoogleBook" method="post">-->
    <label for="ISBN">Veuillez renter l'ISBN de l'ouvrage souhaité</label><br/>
    <input type="text" id="ISBN" name="ISBN"/>
    <input type="submit" id="ISBNSubmission" value="Soumettre l'ISBN"/>
    <!--</form>-->

    {% block bookInformations %}
        <div id = "bookInformations">
            <h5>Titre</h5>
            <div id="bookTitle"></div>

            <h5>Auteur(s)</h5>
            <div id="bookAuthors"></div>

            <h5>Date de publication</h5>
            <div id="bookPublishedDate"></div>

            <h5>Résumé</h5>
            <div id="bookDescription"></div>

            <h5>ISBN</h5>
            <div id="bookISBN"></div>

            <h5>Nombre de pages</h5>
            <div id="bookNbPages"></div>
        </div>

    {% endblock %}
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}