{% extends "template.html.twig" %}



{% block title %}Validation de l'inscription{% endblock %}

{% block content %}
<div class="row" id="registrationMessage">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            <!-- FAIRE REDIRECTION VERS PAGE D'ACCUEIL !!!-->
            Votre inscription a bien été prise en compte.<br />
            Vous allez être redirigé(e) vers la page d'accueil.<br />
            Si ce n'est pas le cas, veuillez cliquer sur ce <a href="../public/index.php">lien</a>.<br />
            Veuillez cliquer sur le bouton "Connexion" afin de vous connecter sur le site.
        </p>
    </div>
</div>
{% endblock %}