{% extends "template.html.twig" %}

{% block title %}Modification des informations du compte - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Changer ses informations</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="modifyCredentialsText">
                        Une fois votre pseudonyme, votre mot de passe ou votre email modifié, vous serez déconnecté(e) afin d'enregistrer vos modifications.<br />
                        Veuillez vous connecter de nouveau adin d'avoir accès à votre espace personnel
                    </div>

                    {% block modifyLogin %}
                        <div class="modifyCredentials">
                            <h4>Changer son pseudonyme</h4>
                            <form action="../public/index.php?action=editLogin" method="post">
                                <div class="formElement">
                                    <label for="editLogin">Nouveau Pseudonyme : </label>
                                    <input type="text" id="editLogin" name="editLogin" onblur="checkForm.checkLogin(this)" required/>
                                </div>
                                <div class="formElement">
                                    <input type="submit" value="Modifier son pseudo" class="submitButton"/>
                                </div>
                            </form>
                        </div>
                    {% endblock %}

                    {% block modifyPassword %}
                        <div class="modifyCredentials">
                            <h4>Changer son mot de passe</h4>
                            <form action="../public/index.php?action=editPassword" method="post">
                                <p><em>Le mot de passe doit contenir entre 8 et 20 caractères, dont au moins un caractère spécial (!@#$%^&*;?), une minuscule, une majuscule et un chiffre.</em></p>
                                <div class="formElement">
                                    <label for="editPassword">Nouveau mot de passe : </label>
                                    <input type="password" id="editPassword" name="editPassword" onblur="checkForm.checkPassword(this)" required/>
                                </div>
                                <div class="formElement">
                                    <label for="confirmEditPassword">Veuillez entrer de nouveau votre mot de passe : </label>
                                    <input type="password" id="confirmEditPassword" name="confirmEditPassword" onblur="checkForm.checkConfirmationEditPassword(this)" required/>
                                </div>
                                <div class="formElement">
                                    <input type="submit" value="Modifier son mot de passe" class="submitButton"/>
                                </div>
                            </form>
                        </div>
                    {% endblock %}

                    {% block modifyEmail %}
                        <div class="modifyCredentials">
                            <h4>Changer son email</h4>
                            <form action="../public/index.php?action=editMail" method="post">
                                <div class="formElement">
                                    <label for="editMail">Nouvel Email : </label>
                                    <input type="email" name="editMail" id="editMail" required/>
                                </div>
                                <div class="formElement">
                                    <label for="confirmEditMail">Veuillez confirmer votre email : </label>
                                    <input type="email" name="confirmEditMail" id="confirmEditMail" required/>
                                </div>
                                <div class="formElement">
                                    <input type="submit" value="Modifier son email" class="submitButton"/>
                                </div>
                            </form>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

{% endblock %}