{% extends "template.html.twig" %}

{% block title %}{{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-9">
                {% block bookInformations %}
                    <label for="ISBN">Veuillez rentrer l'ISBN de l'ouvrage souhaité</label><br/>
                    <p>Veuillez indiquer uniquement les chiffres</p>
                    <input type="text" id="ISBN" name="ISBN"/>
                    <input type="submit" id="ISBNSubmission" value="Soumettre l'ISBN"/>

                    <div id="bookInformations">
                        <form action="../public/index.php?action=registerBookDatas&id={{ session.id }}" method="post">
                            <div>
                                <label for="bookTitle">Titre</label><br />
                                <input type="text" id="bookTitle" name="bookTitle" required/>
                            </div>

                            <div>
                                <label for="bookAuthors">Auteur(s)</label><br />
                                <input type="text" id="bookAuthors" name="bookAuthors" required/>
                            </div>

                            <div>
                                <label for="bookPublishedDate">Année de publication</label><br />
                                <p>Veuillez uniquement indiquer l'année.</p>
                                <input type="text" id="bookPublishedDate" name="bookPublishedDate" required/>
                            </div>

                            <div>
                                <label for="bookDescription">Résumé</label><br />
                                <textarea id="bookDescription" name="bookDescription" required></textarea>
                            </div>

                            <div>
                                <label for="bookISBN">ISBN</label><br />
                                <input type="text" id="bookISBN" name="bookISBN" required/>
                            </div>

                            <div>
                                <label for="bookNbPages">Nombre de pages</label><br />
                                <input type="text" id="bookNbPages" name="bookNbPages" required/>
                            </div>

                            <input type="submit" value="Enregistrer le livre" />
                        </form>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}
    </div>

{% endblock %}