{% extends 'template.html.twig' %}

{% block title %}Résultat demande d'autorisation de partage{% endblock %}

{% block content %}
    <div class="row">
        {{ message }}
    </div>
{% endblock %}