{% extends "template.html.twig" %}

{% block title %}Recherche d'un livre - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-9">

                {% block profileBanner %}
                    <div class="col-lg-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Chercher un livre</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12" id="searchBook">
                    {% block searchBook %}
                        <p>Ici, vous pouvez savoir si vous avez déjà enregistré un livre dans votre propre bibliothèque. <br/>
                            Vous n'avez qu'à indiquer l'ISBN ci-dessous.
                        </p>
                        <form action="../public/index.php?action=searchBook&id={{ session.id }}" method="post">
                            <div class="formElement">
                                <label for="ISBNSearch">ISBN : </label>
                                <input type="text" id="ISBNSearch" name="ISBNSearch" required/>
                            </div>
                            <div class="formElement">
                                <input type="submit" value="Rechercher" class="submitButton"/>
                            </div>
                        </form>

                        <div>
                            {{ message }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}