{% extends "template.html.twig" %}

{% block title %}Vérification livre d'ami(e){% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Chercher un livre d'un(e) ami(e)</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="searchFriendBook">
                    {% block checkFriendBook %}
                        <form action="../public/index.php?action=checkBookFriend&login={{ session.login }}" method="post">
                            <p>Veuillez entrer l'ISBN du livre que vous souhaiteriez vérifier et sélectionner la personne correspondante.</p>
                            <div class="formElement">
                                <label for="checkBookFriendISBN">ISBN de l'ouvrage que l'on souhaite vérifier : </label>
                                <input type="text" name="checkBookFriendISBN" id="checkBookFriendISBN" required/>
                            </div>
                            <div class="formElement">
                                <label for="checkBookFriend">Liste de livres de la personne souhaitée : </label>
                                <select name="checkBookFriend" id="checkBookFriend" required>
                                    {% for friend in friends %}
                                        <option value="{{ friend }}">{{ friend }}</option>
                                    {% else %}
                                        <option value="">---</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="submit" value="Rechercher" class="submitButton"/>
                            </div>

                        </form>

                        <p>
                            {{ message }}
                        </p>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}